.assets-page{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main{
    flex-grow: 1;
    background: #F2F0F0;
    padding: 24px 24px 12px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
}
.header button{
    display: flex;
    align-items: center;
    padding: 8px 10px ;
    gap: 6px;
    height: 32px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    color: #51565e;
    border: 1px solid #C3BECA;
}
.upload-button{
    font-family: Roboto, 'sans-serif' !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    color: #1B0C31 !important;
}
.header .search{
    border: 1px solid #C3BECA;
    height: 32px;
    width: 350px;
    display: flex;
    align-items: center;
}
.header .search span{
    background: #676767;
    height: 100%;
    padding: 7px 10px;
}
.header .search span button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header input{
    border: none;
    height: 100%;
    padding: 6px 10px;
    outline: none;
    background: transparent;
}
.header .view{
    display: flex;
    gap: 10px;
    justify-content: start;
}
.header .view button{
    padding: 0 !important;
    border: none !important;
}
.list-view{
    border: none;
}
.grid-view{
    border: none;
}
.select-filter-btn{
    display: flex;
    justify-content: end;
    padding: 14px 0;
}
.filter-btn {
    color: #868686;
    font-size: 12px;
    background: #D9D9D9;
    padding: 6px 10px;
    border-radius: 2px;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* .asset-list-filter-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%; 
  overflow: hidden;
} */
.asset-list-filter-wrapper {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.asset-list-filter {
  /* flex-grow: 1; */
  width: 100%;
  display: flex;
  gap: 18px;
  /* flex-direction: column; */
  /* overflow: hidden;  */
  height: 100%; 
}
/* .asset-list-wrapper{
    background: #fff;
    padding: 16px;
    width: 100%;
    overflow: hidden; 
    height: 100%; 
} */

.asset-list-wrapper {
  background: #fff;
  padding: 16px;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

/* .asset-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  row-gap: 16px;
  gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: start;
} */
.asset-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  row-gap: 16px;
  gap: 16px;
  align-items: start;
  /* Remove scroll from here: */
  /* overflow-y: auto; */
}
.asset-file{
    background: #F1F0F0;
    padding: 6px 6px 12px;
    border-radius: 4px;
    /* width: 156px; */
    align-self: start;
}
.asset-file img{
    height: 72px;
    border-radius: 4px 4px 0 0;
    width: 100%;
}
.asset-file .name{
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 6px;
}
.asset-file .name p{
    font-size: 12px;
}
.asset-file .date-size{
    display: flex;
    justify-content: space-between;
}
.asset-file .date-size p{
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    line-height: normal;
    color: #5c5468;
}
.main .bottom{
    padding-top: 8px;
}
.total-asset{
    font-size: 10px;
    line-height: normal;
    color: #7C7387;
}
.total-asset span{
    font-weight: bold;
    /* color: #7c7387; */
}

.filter{
    width: 180px;
    height: 100%;
    background: #fff;
    flex: 0 0 180px;
}
.hide-filter{
    display: none;
}