@import "tailwindcss";

*{
  font-family: 'Inter', sans-serif;
}

:root{
  --brown:#c78500,
  --green:#00c965
}
  
.pixel-box {
  color: white;
  font-size: 8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.pixel-box::after {
  content: '';
  position: absolute;
  top: 2px;
  right: -3px; 
  width: 7px;
  height: 100%;
  background-color: #c18726; 
  transform: skewX(-4deg); 
  z-index: 1;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-table .ant-table-thead > tr > th {
  background-color: #e8e5e5;
}

.ant-modal-content{
  padding:0 !important;
}
.ant-modal-title{
  background-color:  #575657;
  padding: 10px 2px;
}
.ant-modal-close-x{
  margin-bottom: 8px;
  color: white;
}
.ant-modal-body{
  margin: -15px 0;
}

.ant-modal-title-product{
  background-color: none;
}
